@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../fonts/DejaVuSansMono.eot');
    src: url('../fonts/DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMono.woff') format('woff'),
         url('../fonts/DejaVuSansMono.ttf') format('truetype'),
         url('../fonts/DejaVuSansMono.svg#dejavusansmono') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMonoBold';
    src: url('../fonts/DejaVuSansMonoBold.eot');
    src: url('../fonts/DejaVuSansMonoBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMonoBold.woff') format('woff'),
         url('../fonts/DejaVuSansMonoBold.ttf') format('truetype'),
         url('../fonts/DejaVuSansMonoBold.svg#dejavusansmonobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

